#wrap {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

/* letter_list start */
#wrap div.list {
    width: 240px;
    margin: 10px 3px auto auto;
    border: 1px solid #dadada;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 3px rgba(200, 200, 200, .2);
}

#wrap div.list li:hover {
    text-decoration: underline;
    cursor: pointer;
}

#wrap div.list li {
    width: 90%;
    padding: 2px 0;
}
/* letter_list end */

/* to start */
#wrap div.letter {
    width: 720px;
    margin: 10px auto auto 3px;
    border: 1px solid #dadada;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 3px rgba(200, 200, 200, .2);
}

#wrap div.letter div.to {
    font-style: italic;
    margin-bottom: 40px;
}
/* to end */

/* head start */
#wrap div.letter div.head {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: double #dadada;
}
/* head end */

/* body start */
#wrap div.letter div.body {
    width: 90%;
    margin: 30px auto;
}
/* body end */

/* from start */
#wrap div.letter div.from {
    font-style: italic;
    margin-top: 40px;
    text-align: right;
}
/* from end */