/* *: 전체 태그 선택자 */
/* 외부 여백: margin, 안쪽 여백: padding */


#wrap {
    width: 800px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin: 50px auto;
    /* =>margin: 0 auto 0 auto; */
    box-shadow: 3px 3px 3px rgba(200, 200, 200, .5);
    padding: 80px 50px;
    /* padding: 80px 50px 80px 50px; */
}

#wrap div.to {
    font-style: italic;
    margin-bottom: 50px;
}

#wrap div.head {
    width: 90%;
    margin:  0 auto;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: double #dadada;
}

#wrap div.body {
    width: 90%;
    margin: 30px auto;
}

#wrap div.body p {
    margin: 20px 0;
}

#wrap div.from {
    font-style: italic;
    margin-top: 50px;
    text-align: right;
}
