/* ID 선택자 */
/* HTML 요소의 ID 속성값을 기준으로 스타일을 적용하는 선택자이다 */
/* 스타일을 적용하는 선택자이다 */
/* 참고: https://hoazzinews.tistory.com/101 */

/* div {
    color: rgb(255, 0, 0);
} */


/* 기본 문법 */
/* 
#ID이름 {
        속성: 속성값;
}
*/

/* #div001 {
    color: rgb(0, 255, 255);
}

#div002 {
    color: rgb(255, 0, 255);
} */
