#wrap {
    width: 600px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    border-collapse: collapse;
    margin: auto;
    padding: auto;
    box-shadow: 3px 3px 3px rgba(200, 200, 200, .5);
    
}

#web_name {
    color: #03C75A;
    margin: 0 auto;
    text-align: center;
    font-size: x-large;
}



#footer .name {
    color: #03C75A;
    display: inline-block;
}

#footer .description {
    color: #242424;
    display: inline-block;
}